.color-container{
	padding:2em;
	background-color:currentColor;
	margin-bottom:0;
}
#map {
    height: 41.5em;
    margin-bottom:2em;
}
.fn-n{
	background-color: #f27d0c;
	color: black;
}
.fn-n:hover{
	background-color: #E47101;
	
}
.titulo-form{
	text-align: center;
	font-size:2em;
	color:white;
}
.ct-fm{
	color:#9d9d7e;
}
.input-fm{
	margin-bottom:1em;
}
.form-mapa{
	background: #222222;
	padding: 20px;
	border-radius:20px;
}
.list-restos{
	text-align: center;	
}
.titulo-lista{
	color:white;
}
.color-container-lista{
	margin-top: 2em;
	padding: 2em;
	background-color: currentColor;
}