footer {
    background-color: #222222;
    width: 100%;
    margin-top: 100px;
    color: white;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
.color{
	color: #9d9d7e;
	padding:2px;

}
.color:hover{
	color:white;
	text-decoration:none;
}
.title{
	font-size: 1.2em;
	padding-top:24px;
}
.icon-social{
	color: #9d9d7e;
	font-size:1.6em;
	padding:2px;
}
.icon-social:hover{
	color:white;
	text-decoration:none;
}
.icon-app{
	color: #9d9d7e;
	font-size:1.6em;
	padding:0.8em;
}
.icon-app:hover{
	color:white;
	text-decoration:none;
}
.alumnos{
	background-color:#181818;
	text-align: center;
	padding: 0.8em;
}
