header {
    width: 100%;
    /*background: #142850;*/
    background: #1A1021;
    color: white;
    margin-bottom:6em;
}
.li-nav:hover{
	background:black;
}

.header-menu {
    display: flex;
}

.header-menu div{
    padding: 10px;
}

.header-menu-section:hover {
    background: #27496d;
}

.buscar-input {
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: 1px solid white;
}

.buscar-input::placeholder {
    color: #bdbdbd;
}
