body{
	background-image: url(../images/bg-inicio.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
.cr-fuente{
	color: white;
}
.formulario{
	background: rgba(0,0,0,.5);
	padding: 20px;
	border-radius:20px;
}
.login{
	background-color:#f27d0c;
	color:white;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	transition:0.5s ease-in;
}
.login:hover{
	color:black;
}
.registrarse{
	background-color:#5A0504;
	color:white;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	transition:0.5s ease-in;	
}
.registrarse:hover{
	color:black;
}
.error-login{
	color: white;
}


